@layer base {


    * {
        font-family: 'Poppins', sans-serif;
        user-select: none;
        margin: 0;
    }

    body {
        background-color: #121212;
    }

}

@layer header {

    /* header fixo */
    header {
        right: 20px;
        top: 20px;
        margin: 10px;
        justify-content: space-evenly;
        display: flex;
        position: fixed;
        border-radius: 50px;
        align-items: center;
        width: 25%;
        height: 10%;
        background-color: #121212;
        border: 3px solid #3A86FF;
        z-index: 1;
        a {
            text-decoration: none;
            display: inline;
            color: white;
            cursor: pointer;
            font-size: 20px;
            transition: background-color 0.5s, color 0.5s, transform 0.1s;
        }

        a:hover {
            color: #3A86FF;
        }

        a:active {
            transform: scale(0.9);
        }
    }

}


/* Home pagina */
#Home {
    display: flex;
    flex-direction: row;
    background-color: #121212;
    height: 100vh;
    width: 100%;

    #pagina1 {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10%;

        #containerTitulo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            line-height: 1.2;

            h1 {
                color: #DADADA;
                font-weight: 800;
                font-size: 98px;
                position: relative;
                display: flex;
                flex-direction: column;
                text-align: center;

                span {
                    width: 200px;
                    text-align: center;
                    white-space: nowrap;
                    color: #3A86FF;
                    font-weight: 800;
                    font-size: 96px;
                    position: relative;
                    animation: slide 5s infinite;
                    text-align: center;
                }
            }
        }


    }

    #containerBotoes {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 80%;

        button {
            background-color: #00FFB3;
            border: none;
            cursor: pointer;
            padding: 1.6rem 2.7rem;
            border-radius: 50px;
            font-size: 20px;
            font-weight: 600;
            transition: background-color 0.3s, color 0.3s, transform 0.1s;
        }

        button:hover {
            background-color: #3A86FF;
            color: #DADADA;
        }

        button:active {
            transform: scale(0.95);
            background-color: #2f70d9;
        }
    }
}


/* Pagina 2 */
#Sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding-bottom: 40px ;

    #skills {
        margin-top: 90px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 25%;
        width: 100%;

        h1 {
            color: #DADADA;
            font-weight: 800;
            font-size: 36px;
        }

        #roller {
            margin: top 30px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 50%;
            background-color: #3A86FF;
            gap: 40px;


            img {
                width: 90px;
                height: 90px;
                transition: .35s;
                cursor: pointer;
            }

        }

        #roller:hover> :not(:hover) {
            opacity: .4;
            transform: scale(0.9);
        }
    }


    .tituloTexto {
        text-align: justify;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 60%;
        width: 100%;

        h1 {
            text-align: center;
            color: #DADADA;
            font-weight: 700;
            font-size: 93px;
        }

        p {
            width: 70%;
            color: #DADADA;
            font-weight: 400;
            font-size: 36px;
        }
    }
}

#Projetos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100%;

    .tituloTexto {
        text-align: justify;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        h1 {
            text-align: center;
            border-radius: 10px;
            position: relative;
            width: 500px;
            color: #DADADA;
            font-weight: 700;
            font-size: 93px;
        }
    }

    #containerCards {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;  
        align-items: center;
        width: 100%;
        height: 60%;

        
        .card {
            width: 350px;
            height: 400px;
            background-color: #3A86FF;
            border-radius: 10px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: transform 0.3s;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            
            h1 {
                color: #DADADA;
                font-weight: 800;
                font-size: 36px;
                text-align: center;
            }

            p {
                color: #DADADA;
                font-weight: 400;
                font-size: 20px;
                text-align: justify;

            }
        }

        .card:hover {
            transform: scale(1.05);
        }

        .card:active {
            transform: scale(0.95);
        }
    }
}

.QuebraDePaginas {
    margin-bottom: 30px;
    width: 100%;
    height: 5px;
    background-color: #DADADA;
}

/* TypeAnimation */
/* media querrys e animacoes */

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes direita {
    5% {
        transform: translateX(-20%);
    }

    8% {
        transform: translateX(-20%);
    }

    80% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes esquerda {
    5% {
        transform: translateX(100%);
    }

    8% {
        transform: translateX(100%);
    }

    80% {
        transform: translateX(-20%);
    }

    100% {
        transform: translateX(20%);
    }
}

@keyframes slide {
    0% {
        transform: translateX(-100%);
        color: transparent;
    }

    20% {
        transform: translateX(0%);
        color: #3A86FF;
    }

    80% {
        transform: translateX(0%);
        color: #3A86FF;
    }


    100% {
        transform: translateX(100%);
        color: transparent;
    }
}

/* responsividade */

@media (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 100px;
    }

    #Home {
        #pagina1 {
            h1 {
                font-size: 1rem;

                span {
                    font-size: 1rem;
                }
            }
        }

        #containerBotoes {
            button {
                padding: 1.2rem 2rem;
                font-size: 16px;
            }
        }
    }

    #Sobre {
        #tituloTexto {
            h1 {
                font-size: 36px;
            }

            p {
                font-size: 20px;
            }
        }

        #skills {


            h1 {
                font-size: 24px;
            }

            #roller {
                height: 100vh;
                width: 100%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);

                img {
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }
}